*.tab
*.gff
*.gff3
*.fa
*.faa
*.fna
*.fasta

log.Rout

preconfig.sh
runconfig.R
config

preconfig.sh
runconfig.R

*.un~

archives/

# latex temporary files and folders
cache/
figure/
*.aux
*.log
*.pdf
*.tex
*.fdb_latexmk
*.fls
*.toc
*.out


# Haskell things
dist/
*sandbox*

[0-9][0-9]/
000*

fagin
report.html
fagin.prof

*.o
*.hi
*.aux
*.hp
*.ps
